// Create Modal
.modal-content(ng-controller='CreateCtrl')
  .modal-header    
    button.close(type='button', ng-click='closeModule.close()')
      span(aria-hidden='true') ×
    h4#myModalLabel.modal-title New/Create Contact
  .modal-body
    form#createContactFormId(name='createContactForm')
      .row.margin5
        input.form-control(type='input', ng-model='form.name', placeholder='Full Name', required='')
        span.invalid(ng-show='createContactForm.name.$error.required') required
      .row.margin5
        input#phone.form-control(type='input', phone-input='', ng-model='form.phone', size='12', maxlength='12', placeholder='Phone Number 0917-3085773', required='')
        span.invalid(ng-show='createContactForm.phone.$error.required') required  
  .modal-footer
    button.btn.btn-default.float-left(type='button', ng-click='closeModule.close()') Cancel
    button.btn.btn-primary(type='button', ng-disabled='createContactForm.$invalid', ng-click='createContact(form)') Add New