// Delete Modal
.modal-content(ng-controller='DeleteCtrl')
  .modal-header
    button.close(type='button', ng-click='closeModule.close()')
      span(aria-hidden='true') ×
    h4#myModalLabel.modal-title Are you sure you want to delete?
  .modal-body
    .view-container
      .row.margin5
        ul.hlist.cursor-hand
          li
            label Name:
          li {{contact.name}}
      .row.margin5
        ul.hlist.cursor-hand
          li
            label Phone Number:
          li {{contact.phone}}      
  .modal-footer
    button.btn.btn-default.float-left(type='button', ng-click='closeModule.close()') Cancel
    button.btn.btn-primary(type='button', ng-click='deleteContact(contact.id)') Yes