// Edit Modal
.modal-content(ng-controller='EditCtrl')
  .modal-header
    button.close(type='button', ng-click='closeModule.close()')
      span(aria-hidden='true') ×
    h4#myModalLabel.modal-title Edit/Update Contact
  .modal-body
    form#createContactFormId(name='createContactForm')
      .row.margin5
        input#edit_name.form-control(ng-model='form.name', required='')
        span.invalid(ng-show='createContactForm.name.$error.required') required  
      .row.margin5
        input#edit_phone.form-control(ng-model='form.phone', phone-input='', size='10', maxlength='12',  required='')
        span.invalid(ng-show='createContactForm.phone.$error.required') required  
  .modal-footer
    button.btn.btn-default.float-left(type='button', ng-click='closeModule.close()') Cancel
    button.btn.btn-primary(type='button', ng-disabled='createContactForm.$invalid', ng-click='editContact(form.id, form.name, form.phone)') Save