div.contact-list
  div.child-list
    ul.alpha-list
      li.person.cursor-hand(ng-repeat='person in contacts | filter:search') 
        .col-sm-6       
          a.list-alink(ng-click='openViewModal(person.id, "view")') {{person.name}}
        .col-sm-6.item-right
          a(ng-click='openViewModal(person.id, "delete")') 
            span.glyphicon.glyphicon-remove
          a(ng-click='openViewModal(person.id, "edit")') 
            span.glyphicon.glyphicon-edit