// View Modal
.modal-content
  .modal-header
    button.close(type='button', ng-click='closeModule.close()')
      span(aria-hidden='true') ×
    h4#myModalLabel.modal-title View Contact
  .modal-body
    .view-container
      .row.margin5
        ul.hlist.cursor-hand
          li
            label Name:
          li {{contact.name}}
      .row.margin5
        ul.hlist.cursor-hand
          li
            label Phone Number:
          li {{contact.phone}}