doctype
html(ng-app="PhonebookApp")
  head
    meta(charset='utf8')
    base(href='/')
    title PhoneBook App
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block body