extends ./layouts/layout

block body
  div#wrapper.wrap(ng-controller='IndexCtrl')
    div#center-nav
      div.header.white-color.font-cust
        div.menu-nav
          div.inner-addon.right-addon
            i.glyphicon.glyphicon-search
            input.form-control.search-form-control(type='input', ng-model='search', placeholder='Search Contact')
      div.list-rolodex(ui-view)
      div.footer.white-color.font-cust
        div.menu-nav
          div.add-contact
            div#create_contact.cursor-hand(ng-click='openCreateModal()')
              span.glyphicon.glyphicon-plus.cust-plus-icon
              span.glyphicon.glyphicon-user.cust-user-icon
              span.label-create-contact New/Create Contact                                
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/bower_components/angular/angular.min.js')  
  script(src='/bower_components/angular-ui-router/release/angular-ui-router.min.js')  
  script(src='//cdn.jsdelivr.net/angular.bootstrap/0.11.0/ui-bootstrap-tpls.js')
  script(src='js/app.js')
  script(src='js/controllers.js') 
   
