body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0px !important;
}
#wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;
}
.wrap {
  background: #00adee;
  height: 100%;
}
#center-nav {
  width: 75%;
  height: 100%;
  background: #f7f7f7;
  margin: 0 auto;
  display: block;
}
.header {
  background: #00adee;
}
.white-color {
  color: #fff;
}
.font-cust {
  font: 18px/49px Consolas, Calibri, Arial;
}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 7px;
  pointer-events: none;
}
.left-addon .glyphicon {
  left: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon .glyphicon {
  right: 0px;
}
.right-addon input {
  padding-right: 30px;
}
.menu-nav {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.glyphicon-search {
  color: #fff !important;
}
.search-form-control {
  display: block;
  width: 100%;
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #2ac2fc;
  background-image: none;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.search-form-control::-webkit-input-placeholder {
  color: #fff !important;
}
.footer {
  background: #00adee;
  position: absolute;
  bottom: 0;
  width: 75%;
}
.add-contact {
  text-align: center;
  background-color: #0f769c;
}
.cust-plus-icon {
  position: relative;
  top: 13px;
  left: 28px;
}
.cust-user-icon {
  position: relative;
  right: 4px;
}
.label-create-contact {
  padding-left: 15px;
}
.child-list {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 15px;
}
.letter-label {
  border-bottom: 1px solid #808080;
  padding: 5px;
  font-weight: bold;
  font-size: large;
}
.alpha-list {
  list-style-type: none;
  margin-bottom: 0px !important;
}
.alpha-list > li {
  padding-bottom: 23px;
  padding-top: 10px;
}
.alpha-list > li:not(:last-child) {
  border-bottom: 1px dotted #808080;
}
.list-rolodex {
  overflow: auto;
  max-height: 500px;
}
.list-rolodex::-webkit-scrollbar {
  width: 2px;
}
.list-rolodex::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.list-rolodex::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#create_contact {
  color: #fff;
  text-decoration: none;
}
.margin5 {
  margin: 5px;
}
.float-left {
  float: left;
}
#errmsg {
  color: #a94442;
  font-family: 'open sans';
  font-size: 85%;
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}
.cursor-hand:hover {
  cursor: pointer;
}
.hlist {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: relative;
}
.hlist > li {
  float: left;
  margin-left: 14px;
}
.list-alink,
.list-alink:active,
.list-alink:focus,
.list-alink:hover,
.list-alink:visited {
  color: #333;
  text-decoration: none;
}
.item-right {
  text-align: right;
}
a:focus,
a:hover {
  color: #23527c;
  text-decoration: none;
}
.invalid {
  color: #f00;
}
.ng-invalid {
  border-color: #f00;
}
